.container{
    width: max-content;
    margin: auto;

}
.card{
    display: inline-block ;
    border-radius: 5px;
    border: 1px solid gray;
    vertical-align: top;
    width: 350px;;
    height: 450px;
    padding-left: 5px;
    color: gray;
    font-family:  Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 15px;
}
header{
    margin-left: 170px;
    font-size: 20px;
    
}


.image2,.image1,.image3{
    margin: 25px;
    margin-left:80px;
    width: 160px;
    height: 170px;
}
p{
    margin-left: 10px;
    margin-right: 10px;
}
h1{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50px;
}
h2{
   margin-left: 30px;
   color: black;
   text-align: center;
   margin-right: 20px;
}


button{
    font-size: 15px;
    color: black;
    margin-left: 1000px;
    width: 180px;
    height: 50px;
    position:absolute;
    top:25px;
    right:-5px;
    left:100px;
    bottom:0px;
    border-radius: 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    display: inline-block;
    background-position: right;
    background-image: url(./icone-fleche-droite-orange.png);
    background-size: 30px;
    background-position: right;
    font-size: 16px;
    background-repeat: no-repeat;
    right: 20px;
    border: 3px solid #d3d8d8;
    display: inline-block;
    
}
/* .icon{
    background-image: url(./icone-fleche-droite-orange.png);
    background-size: 30px;
    width: 30px;
    height: 50px;
    background-repeat: no-repeat;
    padding-top: 3px;
    padding-left: 4px;
    margin: 0px;
    padding: 0px;
    margin-left: 140px;
    margin-top: -10px;
} */
.span{
   text-align: center;
   margin: 15px;
}
